.card {
    width: 350px;
    height: 367px;

    background-color: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;

    font-size: 16px;
}

.preview__card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;

    text-align: center;

    color: #212429;
}
