/* Стилизация аккордеона */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');

body {
    font-family: Inter, sans-serif;
}

.main {
    margin: auto;
    width: fit-content;
}

.accordion {
    margin-top: 10px;
}

.accordion__details {
    width: 730px;
    font-size: 16px;
    box-sizing: border-box;

    cursor: default;

    border: 1px solid var(--grey-border);
    border-radius: 8px;

    padding: 20px 0 20px 30px;
}

.accordion__summary {
    font-weight: 400;
}

.accordion .accordion__summary {
    list-style: none;
}

.accordion__text {
    margin: 16px 20px;
    font-weight: 200;
}

.accordion__details.first[open] {
    background-color: var(--grey-1);
}

.accordion__details.second[open] {
    background-color: rgba(89, 138, 113, 0.37);
}

.accordion__details.third[open] {
    background-color: rgba(207, 214, 111, 0.37);
}
