.toggle {
    display: inline-flex;
    position: relative;
}

.toggle__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.toggle__control {
    width: 52px;
    height: 28px;

    background: var(--white);
    border: 1px solid var(--grey-2); 
    border-radius: 16px;
    position: relative;

    cursor: pointer;
}

.toggle__icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 2px;
    top: calc(50% - 24px / 2);
    border-radius: 16px;
    background: var(--grey-2);
}

.toggle__state {
    display: flex;
    align-items: center;
    gap: 12px;
}

.toggle__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);

    padding-right: 25px;
}

.toggle__input:checked ~ .toggle__state .toggle__control {
    background: var(--blue-4);
}

.toggle__input:checked ~ .toggle__state .toggle__icon {
    left: 26px;
    background: var(--white);
}

.toggle__input:focus ~ .toggle__state .toggle__title {
    text-decoration: underline;
}

.toggle__input:disabled ~ .toggle__state .toggle__control {
    background: var(--grey-2);
    cursor: default;
}

.toggle__input:disabled ~ .toggle__state .toggle__title {
    color: var(--grey-2);
}

.toggle__input:disabled ~ .toggle__state .toggle__icon {
    background: var(--grey-3);
}
