.histogram {
    box-sizing: border-box;

    border: 1px solid var(--grey-3);
    border-radius: 8px;

    padding: 16px 24px;
}

.histogram__top-part {
    display: flex;
    justify-content: space-between;
}

.histogram__title,
.histogram__subtitle,
.histogram__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;

    cursor: default;

    color: var(--black);
}

.histogram__title {
    font-size: 16px;
    line-height: 24px;

    opacity: 0.8;

    margin: 0;
}
.histogram__subtitle {
    font-size: 20px;
    line-height: 26px;

    padding-top: 6px;
    margin: 0;
}
.histogram__link {
    font-size: 16px;
    line-height: 24px;
    text-align: right;

    color: var(--blue);

    cursor: pointer;

    margin: 0;
    padding-top: 3px;
}

.histogram__chart {
    width: 100%;
    height: 50px;
    gap: 1px;

    display: flex;
    align-items: flex-end;

    margin-top: 40px;
}

.chart__column {
    background-color: var(--blue);

    flex: 1;
    flex-basis: auto;
}
