.page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 30px;
    height: 100vh;
}

.page__header {
    margin-top: 24px;
}

.page__main {
}

.page__footer {
    background-color: rgb(158, 158, 236);
}
