.radio {
    display: inline-flex;
    position: relative;
}

.radio__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.radio__control {
    width: 28px;
    height: 28px;

    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 100%;
    position: relative;

    cursor: pointer;
} 

.radio__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio__state {
    display: flex;
    align-items: center;
    gap: 12px;
}

.radio__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.radio__input:checked ~ .radio__state .radio__control {
    border-color: var(--blue-4);
}

.radio__input:checked ~ .radio__state .radio__icon {
    background: var(--blue-4);
    border-radius: 100%;
}

.radio__input:focus ~ .radio__state .radio__title {
    text-decoration: underline;
}

.radio__input:disabled ~ .radio__state .radio__control {
    background: var(--grey-2);
}

.radio__input:disabled ~ .radio__state .radio__icon {
    display: none;
}

.radio__input:disabled ~ .radio__state .radio__title {
    color: var(--grey-2);
}
