.calendar {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    width: 100%;
    max-width: 280px;
    padding: 28px 30px 40px 30px;
}

.calendar__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--blue-text);

    display: flex;
    justify-content: center;
}

.calendar__inner {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-top: 24px;
    position: relative;
}

.calendar__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--blue-text);
}

.calendar__item_day {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--light-blue);
    padding-bottom: 24px;
}

.calendar__item_between-active {
    background-color: var(--low-opacity-light-purple);
}

.calendar__item_active {
    background: var(--blue-purple);
    color: #ffffff;
}
