.skeleton {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    box-sizing: border-box;

    padding: 24px 40px 24px 24px;
}

.line {
    height: 20px;
    background: linear-gradient(
        92.51deg,
        #dde2e5 6.44%,
        #e2e6e8 38.47%,
        #f3f5f5 56.48%,
        #e3e7ea 77.5%,
        #dde2e5 102.52%
    );
}

.line_short {
    width: 30%;
}
.line_middle {
    width: 50%;
}

.line_long {
    width: 100%;
}

.skeleton__top-part {
    display: flex;
    justify-content: space-between;
}

.content__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
}

.content__wrapper_title {
    justify-content: center;
    margin-left: 16px;
}

.skeleton__avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;

    background-color: var(--grey-2);
}

.content__wrapper_content {
    margin-top: 24px;
}
