.skeleton {
  border: 1px solid #acb5bd;
  border-radius: 8px;
  box-sizing: border-box;

  padding: 24px 40px 24px 24px;
}

.line {
  height: 20px;
  background: linear-gradient(
    92.51deg,
    #dde2e5 6.44%,
    #e2e6e8 38.47%,
    #f3f5f5 56.48%,
    #e3e7ea 77.5%,
    #dde2e5 102.52%
  );
}

.skeleton__top-part {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}

.skeleton__top-part_text {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 8px;
  margin-left: 16px;
}

.skeleton__avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;

  background-color: #dde2e5;
}

.skeleton__title {
  width: 70%;
}
.skeleton__subtitle {
  width: 100%;
}

.skeleton__content-part {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
