.skeleton {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    box-sizing: border-box;

    padding: 24px 40px 24px 24px;
}

.skeleton__line {
    height: 20px;
    background: linear-gradient(
        92.51deg,
        #dde2e5 6.44%,
        #e2e6e8 38.47%,
        #f3f5f5 56.48%,
        #e3e7ea 77.5%,
        #dde2e5 102.52%
    );
}

.skeleton__top-part {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.skeleton__top-part_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    margin-left: 16px;
}

.skeleton__avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;

    background-color: var(--grey-2);
}

.skeleton__line_short {
    width: 30%;
}
.skeleton__line_long {
    width: 50%;
}

.skeleton__content-part {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 8px;
}
