.tooltip {
    position: relative;
    display: inline-flex;
}

.tooltip__buble {
    display: none;
    padding: 13px 10px;

    width: max-content;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: var(--light-text-color);
    background: var(--blue-2);

    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(-50%);
}

.tooltip__buble:after {
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 5px solid var(--blue-2);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip__trigger:hover ~ .tooltip__buble {
    display: block;
}
