.main {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../02-background-image/public/forest_400.jpg');
}

@media screen and (min-width: 400px) {
    .main {
        background-image: url('../02-background-image/public/forest_768.jpg');
    }
}

@media screen and (min-width: 768px) {
    .main {
        background-image: url('../02-background-image/public/forest_1024.jpg');
    }
}

@media screen and (min-width: 1024px) {
    .main {
        background-image: url('../02-background-image/public/forest_2560.jpg');
    }
}
